.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

svg:hover {
  fill: #555;
}

svg:active {
  fill: #555;
  transform: translateY(2px);
}

.experience-block {
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
